<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script>   
$(document).ready(function () {
        $("#dvContent").append("<ul></ul>");
        $.ajax({
            type: "GET",
            url: "bookslist.xml",
            dataType: "xml",
            success: function (xml) {
                $(xml).find('Book').each(function () {
                    
                    var Titles = $(this).find('Title').text();

                    var Publishers = $(this).find('Publisher').text();
                    $("<li></li>").html(Titles + "," + Publishers).appendTo("#dvContent ul");
                    });
               
            },
            error: function () {
                alert("The XML File could not be processed correctly.");
            }
        });
    });
</script>
<div id="dvContent"></div>