<companies>
<company symbol="IBM">
<name>International Business Machine Cooperation</name>
<lab state="new york">IBM TJ Watson Research Lab</lab>
<lab state="California">IBM Almaden Research Center</lab>
</company>
<company symbol="INTEL">
<name>Intel Cooperation</name>
<lab state="California">Intel San Jose Research Lab</lab>
<lab state="Pennsylvania">Intel Pittsburgh Research Center</lab>
</company>
</companies>
